version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: rest-server
    environment:
      POSTGRES_DB: messages_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
#      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local

networks:
  app-network:
    driver: bridge
